<!DOCTYPE HTML>
<html>
<head>
    <title>Flickr:: {{{userid}}}'s Feed</title>
    <link rel="stylesheet" type="text/css" href="{{{mojit_assets}}}/index.css"/>
</head>
<body>

<h2>{{{userid}}}'s Feed</h2>
<a href="/user/{{userid}}/friends">Friend's Feed</a>
{{#each data}}
<div class="image">
    <a class="thumbnail" target="_blank" href="{{{link}}}"><img src="{{{media.m}}}" title="{{title}}"></a>
    <a class="author" href="/user/{{author_id}}">{{author}}</a>
</div>
{{/each}}
</body>

