.image {
    clear:both;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display:block;
}

.thumbnail {
}

.author {
    text-align:center;
    font-weight:normal;
    width:120px;
    margin:5px;
}